# py -3 -m venv venv
# venv\Scripts\activate
# python -m pip install pip -U

wheel
pyzmq
jupyterlab
pandas

h3
pgeocode
geopandas
folium
matplotlib
mapclassify
	



# troubleshooting: https://github.com/jupyter/notebook/issues/5543
